<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:replace="fragments/header">
</head>

<body>
	<nav th:replace="fragments/navbar" />

	<div id="contactForm">
		<p>Hello dear user.</p>
		<p>Be free to send e-mail for any question you have. Also, we would like to hear your opinion, wishes or possible
			improvements regarding this web site.</p>
		<p>Support team</p>
		<p>
		<div id="contactMailIcon">
			<i class="material-icons cyan-text">contact_mail</i>
		</div>
		<span><b>&nbsp&nbsp&nbsp cryptoarbitragecontact@gmail.com</b></span>
		</p>
	</div>

</body>

</html>